@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

html {
    background:#1f1e1e;;
}
.scroll-container,
.scroll-area {
    height: 700px;;
    font-size: 60px;
}

.scroll-container {

    scroll-snap-type: y mandatory;
}

.scroll-area {
    scroll-snap-align: start;
}
#genderAge {
  margin-right: -70px;
  margin-left: 50px;
} 

.scroll-container,
.scroll-area {
    margin: 0 auto;
}

.scroll-area {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


.scroll-area{
    background: #1f1e1e;;
}

.lc {
  flex-direction: column;
  padding-top: 50px;
}
#normalMap{
  display: block;
}

#animatedMap{
  display: none;
}

#inputBox{
  top: -324px;
  left: 490px;
  font-size: 5px;
  z-index: 1;
  position: relative;
  font-size: 13px;
  font-family: "Balto", Helvetica, sans-serif;
}
#chartAndScrubber {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#statistics {
  display: flex;
  align-items: center;
  margin-left: 5%;
  flex-direction: column;
}

#statistics p {
  line-height: 80px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto';
  color: black;
}

.statsBox span {
  font-size: 25px;
}

#section8, #section3, #section4 {
  flex-wrap: wrap;
  text-align: center;
}

.statsBox {
  border-radius: 20px;
  width: 220px;
  height: 100px;
  margin-bottom: 70px;
  padding: 10px;
  background-color: white;
  opacity: 75%;
  box-shadow: 0px 0px 10px 1px red;
}

.statsBox:hover {
  transform: scale(1.2); 
}

.sm {
  padding-bottom: 100px;
}

.sectionTitle {
  flex-basis: 100%;
}

/* The sidebar menu */

.sidenav{
  position:absolute;
  left:0;
  top:0;
  bottom:0;
  height: 100%; /* Full-height: remove this if you want "auto" height */ /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
.sidenav > a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #d72a30;
  display: block;
  font-family:'Impact'
}
.sidenav > a > span {
  display:none;
}
.sidenav:hover > a > span {
  display:inline-block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #fff8f8;

}
.sbOption.active {
  color: #fff8f8;
  
}
/* Style page content */


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



#navBB{
  vertical-align: middle !important;
  padding-bottom: 3px !important;
  font-size: 15px !important;
  font-weight: bold !important;
}

#navBBActive{
    font-size: 25px !important;
    padding-left: 2px !important;
    vertical-align: bottom !important;

}

.dc-chart g.row text {
  fill: black;
}
#map {
  width: 800px;
  height: 550px;
  margin-bottom: 10%;
}
input[type=radio]{
  vertical-align: middle;
  margin-right: 2px;
  margin-bottom: 2px;
  font-size: 6px;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  color: #777
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 10px;
  height: 10px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

#buttonReset {
  background-color: white;
  border: none;
  cursor: pointer;
  color: black;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
  position: fixed;
  z-index: 1000;
  bottom: 15px;
  left: 15px;
  height: 44px;
  width: 63px;
  border-radius: 6px;
  opacity: 75%;
  box-shadow: 0px 0px 10px 1px grey;
}
.buttonScrubber {
  background-color: white;
  border-radius: 6px;
  margin-right: 5px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: Arial;
  font-weight: bold;
  width: 55px;
  text-align: center;
  height: 30px;
  padding: 5px;
  text-decoration: none;
  margin-bottom: 10px;
  opacity: 75%;
  box-shadow: 0px 0px 10px 1px grey;
}
.buttonScrubber:hover {
  background-color:rgb(236, 236, 236);
}
#buttonReset.hidden {
  display: none;
}

#buttonReset:hover {
  background-color:rgb(236, 236, 236);
}

.material-icons{
  font-size: 38px !important;
  padding-left: 7px !important;
}


.scrubber {
  font-size: 15px;
  height: 100px;
  display: flex;
  align-items: center;
}

input[type=range] {
  width: 100%;
  margin: 8.4px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: white;
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  width: 100%;
  height: 5.2px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -8.6px;
  width: 16px;
  height: 22px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 3px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: white;
}
input[type=range]::-moz-range-track {
  background: white;
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  width: 100%;
  height: 5.2px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 16px;
  height: 22px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 3px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 9.4px 0;
  color: transparent;
  width: 100%;
  height: 5.2px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #000000;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background: #000000;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
  width: 16px;
  height: 22px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: #000000;
}
input[type=range]:focus::-ms-fill-upper {
  background: #0d0d0d;
}

.focus circle {
  fill: white;
  stroke: red;
  stroke-width: 3px;
}

.focus rect {
  fill: white;
}

#tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 5px;
  border: solid 1px darkgray;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#name {
  font-weight: bold;
}



#tooltip p {
  color: black;
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 20px;
}


#scatterplot{
  float:right;
}

#scatterText h5{
  float: left;
  text-align: justify; 
  font-family: CNN;
  color: #E6E6E6;
  font-family: "Balto", Helvetica, sans-serif;
  /*line-height: 1.5;*/
  text-rendering: optimizelegibility;
}

#scatterText h2{
  float: left;
  color: white;
  font-family: "Balto", Helvetica, sans-serif;
  line-height: 1.5;
  text-rendering: optimizelegibility;
  font-weight: bold;
}

/*#stackedBar{
  float:right;
}*/

#fatalitiesText h1{
  color: white;
  font-family: "Balto", Helvetica, sans-serif;
  line-height: 1.5;
  text-rendering: optimizelegibility;
  font-weight: bold;
}

#fatalitiesText h5{
  text-align: justify; 
  font-family: CNN;
  color: #E6E6E6;
  font-family: "Balto", Helvetica, sans-serif;
  text-rendering: optimizelegibility;
}

#beeswarm h1{
  font-family: "Publico Headline",serif;
  position: absolute;
  font-weight: bold;
  color: white;
  font-family: "Balto", Helvetica, sans-serif;
  line-height: 1.5;
  text-rendering: optimizelegibility;
  float:none;
}

#beeswarm h5{
  font-family: "Publico Headline",serif;
  position: absolute;
  text-align: justify; 
  padding-top: 15%;
  color: #E6E6E6;
  font-family: "Balto", Helvetica, sans-serif;
  /*line-height: 1.5;*/
  text-rendering: optimizelegibility;
}

