html {
    background: #f2f2f2;
}
.scroll-container,
.scroll-area {
    height: 627px;;
    font-size: 60px;
    
}

.scroll-container {

    scroll-snap-type: y mandatory;
}

.scroll-area {
    scroll-snap-align: start;
}

.scroll-container,
.scroll-area {
    margin: 0 auto;
}

.scroll-area {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.scroll-area{
    background: #000000;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 110px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #d72a30;
  display: block;
  font-family:'Impact'
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #fff8f8;
}
.sbOption.active {
  color: #fff8f8;
}
/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}
  
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.dc-chart g.row text {
  fill: black;
}
#map {
  width: 800px;
  height: 627px;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  color: #777
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 10px;
  height: 10px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

#buttonReset {
  background-color:black;
  border-radius:6px;
  border: none;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:5px;
  text-decoration:none;
}

#buttonReset.hidden {
  display: none;
}

#buttonReset:hover {
  background-color:gray;
}
#buttonReset:active {
  position:relative;
  top:1px;
}

#tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 10px;
  border: solid 1px darkgray;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}
#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}
