@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
html {
    background:#1f1e1e;
    font-size: 16px;
}
/* #textC1{
  font-size:15px;
  justify-content: center;
  text-align: justify; 
  width: 400px;
  display: inline-block;
  margin-top: 20px;
  margin-left: 159px;
}
#textC2{
  font-size: 15px;
  justify-content: center;
  text-align: justify;
  width: 400px;
  margin-right: 50px;
  position: absolute;
  position: absolute;
  bottom: 0;
  right: 0;
  color:#d72a30;

} */

#section1{
  background-image: url("../img/mass-shootings-bg1.jpg");
  align-items: center;
  justify-content: center;

}

#section1 h1{
  color:#7a0206ea;
  font-family: 'Alfa Slab One', cursive;
  font-size: 4.5rem;
  text-shadow: 2px 2px black;
}

#sectionContext {
  align-items: unset;
  justify-content: center;
}
#sectionContext div {
  width: 800px;
  font-size: 1.5rem;
  top: 0;
  
}
#sectionContext h1{
  font-size: 3.5rem;
  text-align: center;
}
#sectionContext h5{
  font-size: 1.8rem;
  text-align: center;
}

#sectionContext h3{
  font-size: 3.0rem;
  text-align: center;
}
#sectionContext h7{
  font-size: 19px;
}
#section1 h5{
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
  font-size: 2.0rem;
  color: rgb(51, 51, 51);
}

.statisticsCon{
  display: inline-block;
  width: 256px;
  margin-left: 6px;
  text-align: center;
  margin-top: 64px;
}

.statisticsCon h3{
  color: #d72a30;
}
.scroll-container,
.scroll-area {
    height: 700px;
    font-size: 60px;
}

.scroll-container {
    scroll-snap-type: y mandatory;
}

.scroll-area {
    scroll-snap-align: start;
}

.scroll-container,
.scroll-area {
    margin: 0 auto;

}

.scroll-area {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


.scroll-area{
    background: #1f1e1e;;
}

.lc {
  flex-direction: column;
  padding-top: 50px;
}
#normalMap{
  display: block;
}

#animatedMap{
  display: none;
}

#inputBox{
  top: -324px;
  left: 490px;
  font-size: 5px;
  z-index: 1;
  position: relative;
  font-size: 13px;
  font-family: "Balto", Helvetica, sans-serif;
}
#chartAndScrubber {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#statistics {
  display: flex;
  align-items: center;
  margin-left: 5%;
  flex-direction: column;
}

@media only screen and (max-width: 1160px) {
  #statistics {
    margin-left: 0;
    flex-direction: row;
  }
  .statsBox {
    padding: 20px;
  }
}

#titleTargetMotivation {
  padding-bottom: 10px;
}

#section8, #section3, #section4 {
  flex-wrap: wrap;
  text-align: center;
}

.statsBox {
  padding: 40px;
}

.statsBox h2 {
  color: #D72A30;
  font-weight: bold;
}

.statsBox h4 {
  color: white;
  font-weight: lighter;
}

.statsBox:hover {
  transform: scale(1.2); 
}

.sm {
  padding-bottom: 100px;
}

.sectionTitle {
  flex-basis: 100%;
}

.sectionTitle h1{
  margin: 0 auto;
}

.sectionTitle h5 {
  text-align: justify;
  margin: 0 auto;
  font-family: Arial;
}

/* The sidebar menu */

.sidenav{
  position:absolute;
  left:0;
  top:20%;
  bottom:0;
  height: 100%; /* Full-height: remove this if you want "auto" height */ /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
.sidenav > a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #d72a30;
  display: block;
  font-family:'Impact'
}
.sidenav > a > span {
  display:none;
}
.sidenav:hover > a > span {
  display:inline-block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #fff8f8;

}
.sbOption.active {
  color: #fff8f8;
  
}
/* Style page content */


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



#navBB{
  vertical-align: middle !important;
  padding-bottom: 3px !important;
  font-size: 15px !important;
  font-weight: bold !important;
}

#navBBActive{
    font-size: 25px !important;
    padding-left: 2px !important;
    vertical-align: bottom !important;

}

.dc-chart g.row text {
  fill: black;
}
#map {
  width: 800px;
  height: 550px;
  margin-bottom: 10%;
}
input[type=radio]{
  vertical-align: middle;
  margin-right: 2px;
  margin-bottom: 2px;
  font-size: 6px;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  color: #777
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 10px;
  height: 10px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

#buttonReset {
  background-color: white;
  border: none;
  cursor: pointer;
  color: black;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
  position: fixed;
  z-index: 1000;
  bottom: 15px;
  left: 15px;
  height: 44px;
  width: 63px;
  border-radius: 6px;
  opacity: 75%;
  box-shadow: 0px 0px 10px 1px grey;
}
.buttonScrubber {
  background-color: white;
  border-radius: 6px;
  margin-right: 5px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: Arial;
  font-weight: bold;
  width: 55px;
  text-align: center;
  height: 30px;
  padding: 5px;
  text-decoration: none;
  margin-bottom: 10px;
  opacity: 75%;
  box-shadow: 0px 0px 10px 1px grey;
}
.buttonScrubber:hover {
  background-color:rgb(236, 236, 236);
}
#buttonReset.hidden {
  display: none;
}

#buttonReset:hover {
  background-color:rgb(236, 236, 236);
}

.material-icons{
  font-size: 38px !important;
  padding-left: 7px !important;
}


.scrubber {
  font-size: 15px;
  height: 100px;
  display: flex;
  align-items: center;
}

input[type=range] {
  width: 100%;
  margin: 8.4px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: white;
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  width: 100%;
  height: 5.2px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -8.6px;
  width: 16px;
  height: 22px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 3px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: white;
}
input[type=range]::-moz-range-track {
  background: white;
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  width: 100%;
  height: 5.2px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 16px;
  height: 22px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 3px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 9.4px 0;
  color: transparent;
  width: 100%;
  height: 5.2px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #000000;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background: #000000;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
  width: 16px;
  height: 22px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: #000000;
}
input[type=range]:focus::-ms-fill-upper {
  background: #0d0d0d;
}

.focus circle {
  fill: white;
  stroke: red;
  stroke-width: 3px;
}

.focus rect {
  fill: white;
}

#tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 5px;
  border: solid 1px darkgray;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#name {
  font-weight: bold;
}



#tooltip p {
  color: black;
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 20px;
}


#scatterplot{
  float:right;
}

#scatterText h5{
  float: left;
  text-align: justify; 
  font-family: CNN;
  color: #E6E6E6;
  font-family: "Balto", Helvetica, sans-serif;
  /*line-height: 1.5;*/
  text-rendering: optimizelegibility;
}

#scatterText h2{
  float: left;
  color: white;
  font-family: "Balto", Helvetica, sans-serif;
  line-height: 1.5;
  text-rendering: optimizelegibility;
  font-weight: bold;
}

/*#stackedBar{
  float:right;
}*/

#fatalitiesText h1{
  color: white;
  font-family: "Balto", Helvetica, sans-serif;
  line-height: 1.5;
  text-rendering: optimizelegibility;
  font-weight: bold;
}

#fatalitiesText h5{
  text-align: justify; 
  font-family: CNN;
  color: #E6E6E6;
  font-family: "Balto", Helvetica, sans-serif;
  text-rendering: optimizelegibility;
}

#beeswarm h1{
  font-family: "Publico Headline",serif;
  position: absolute;
  font-weight: bold;
  color: white;
  font-family: "Balto", Helvetica, sans-serif;
  line-height: 1.5;
  text-rendering: optimizelegibility;
  float:none;
}

#beeswarm h5{
  font-family: "Publico Headline",serif;
  position: absolute;
  text-align: justify; 
  padding-top: 15%;
  color: #E6E6E6;
  font-family: "Balto", Helvetica, sans-serif;
  /*line-height: 1.5;*/
  text-rendering: optimizelegibility;
}

